$frost: #dde2e3;
$lead: #9aacb8;
$burnt_amber: #b37c57;
$nightfall: #3c455c;
$nightfall_dark: #262b39;
$bark: #60412b;

body {
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: $frost;
  color: $nightfall_dark;
  font-size: 10px;
}

.app {
  font-size: 1rem;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app-cast-launcher {
  height: 50px;
}

#app-cast-button {
  margin-top: 1rem;
}
